<h4>Здравствуйте Администратор!</h4>
<p>
  Мы преклоняемся пред Вами и выдаем список записанных на экзекуцию:
</p>
<form action='/admin_panel' method='GET' class="form-inline well">
<%= @userstxt %>
</form>
