<h2>Контакты</h2>

<form action="/contacts" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="usrname" type="text" class="form-control" placeholder="Введите Ваше имя">
  </div>
  <div class="form-group">
    <label>Ваш e-mail</label>
    <input name="email" type="text" class="form-control" placeholder="Введите Ваш e-mail">
  </div>
  <div class="form-group">
    <p><label>Напишите нам сообщение!</label></p>
    <p><textarea name="message" cols="125" rows="10" placeholder="Что бы Вы хотели нам написать?"></textarea></p>
  </div>
  <button type="submit" class="btn btn-primary">Отправить сообщение</button>
</form>
